Repository Quodss/vere, changes with the owners that .github/CODEOWNERS names for each.
All owners: @urbit/runtime, @mcevoypeter, @matthew-levan, @jalehman, @belisarius222

Make attempt at adding wasm3, does not work
  bazel/third_party/wasm3/BUILD.bazel
  bazel/third_party/wasm3/wasm3.BUILD
  pkg/noun/BUILD.bazel
  pkg/noun/WORKSPACE.bazel
Owners: @mcevoypeter, @matthew-levan, @jalehman, @belisarius222

Attempt fix
  bazel/third_party/wasm3/wasm3.BUILD
  pkg/vere/main.c
Owners: @mcevoypeter, @matthew-levan, @jalehman, @belisarius222, @urbit/runtime

Add wasm3 to pkg/vere/BUILD.bazel and add extra asterisks to wasm3.BUILD to srcs and hdrs
  bazel/third_party/wasm3/wasm3.BUILD
  pkg/vere/BUILD.bazel
Owners: @mcevoypeter, @matthew-levan, @jalehman, @belisarius222

Attempt changes
  bazel/third_party/wasm3/wasm3.BUILD
Owners: @mcevoypeter, @matthew-levan, @jalehman, @belisarius222

Add includes
  bazel/third_party/wasm3/wasm3.BUILD
Owners: @mcevoypeter, @matthew-levan, @jalehman, @belisarius222

Add wasm_test.c
  pkg/noun/jets/e/wasm_test.c
Owners: @urbit/runtime

Add emscripten to exclude
  bazel/third_party/wasm3/wasm3.BUILD
Owners: @mcevoypeter, @matthew-levan, @jalehman, @belisarius222

Add a bunch of platform dependencies
  bazel/third_party/wasm3/wasm3.BUILD
Owners: @mcevoypeter, @matthew-levan, @jalehman, @belisarius222

Add ios to excluded
  bazel/third_party/wasm3/wasm3.BUILD
Owners: @mcevoypeter, @matthew-levan, @jalehman, @belisarius222

Fix len_w to len_bin and add declarationt o result
  pkg/noun/jets/e/wasm_test.c
Owners: @urbit/runtime

Add wasm jet as was in the arithmetic jets
  pkg/noun/jets/a/add.c
  pkg/noun/jets/a/was.c
  pkg/noun/jets/e/wasm_test.c
  pkg/noun/jets/q.h
  pkg/noun/jets/tree.c
  pkg/noun/jets/w.h
Owners: @urbit/runtime

Update was.c
  pkg/noun/jets/a/was.c
  pkg/noun/jets/q.h
Owners: @urbit/runtime

Complete was.c
  pkg/noun/jets/a/was.c
Owners: @urbit/runtime

Remove string jet stuff
  pkg/noun/jets/q.h
  pkg/noun/jets/tree.c
  pkg/noun/jets/w.h
Owners: @urbit/runtime

Remove u3we_interpret
  pkg/noun/jets/tree.c
  pkg/noun/jets/w.h
Owners: @urbit/runtime

Change stack size to 2MB
  pkg/noun/jets/a/was.c
Owners: @urbit/runtime

modernize mass
  pkg/vere/lord.c
  pkg/vere/main.c
  pkg/vere/serf.c
  pkg/vere/serf.h
Owners: @urbit/runtime

fighting refcounting
  pkg/noun/jets/e/urwasm.c
Owners: @urbit/runtime

fix refcounting
  pkg/noun/jets/e/urwasm.c
Owners: @urbit/runtime

omon jet
  pkg/noun/jets/e/omon.c
  pkg/noun/jets/tree.c
  pkg/noun/jets/w.h
Owners: @urbit/runtime

comments
  pkg/noun/jets/e/omon.c
Owners: @urbit/runtime

more registrations, less repeats
  pkg/noun/jets/e/omon.c
Owners: @urbit/runtime

don't gain gained result
  pkg/noun/jets/e/omon.c
Owners: @urbit/runtime

compile_commands
  build.zig
  build.zig.zon
Owners: @urbit/runtime

formatting
  build.zig
Owners: @urbit/runtime

added more targets
  build.zig
Owners: @urbit/runtime

add deps
  build.zig
Owners: @urbit/runtime

syntax
  build.zig
Owners: @urbit/runtime

avahi artifact name
  build.zig
Owners: @urbit/runtime

openssl artifact name
  build.zig
Owners: @urbit/runtime

zlib artifact name
  build.zig
Owners: @urbit/runtime

remove gmp artifact
  build.zig
Owners: @urbit/runtime

return gmp, move append loop to the end
  build.zig
Owners: @urbit/runtime

remove deps to match linking
  build.zig
Owners: @urbit/runtime

append vere only
  build.zig
Owners: @urbit/runtime

ignore input
  build.zig
Owners: @urbit/runtime

urbit
  build.zig
Owners: @urbit/runtime

syntax
  build.zig
Owners: @urbit/runtime

more artifacts
  build.zig
Owners: @urbit/runtime

gmp
  build.zig
Owners: @urbit/runtime

.github/CODEOWNERS:

# For more information on how CODEOWNERS work, see
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.

# Default owner for everything in the repo. Matches farther down in the file
# will override this default.
* @urbit/runtime

# Build system
/.github/ @mcevoypeter @matthew-levan @jalehman @belisarius222
/bazel/   @mcevoypeter @matthew-levan @jalehman @belisarius222
*.bazel   @mcevoypeter @matthew-levan @jalehman @belisarius222
*.bzl     @mcevoypeter @matthew-levan @jalehman @belisarius222
/PACE     @mcevoypeter @matthew-levan @jalehman @belisarius222
/VERSION  @mcevoypeter @matthew-levan @jalehman @belisarius222
=======
